.fancy-header{
    color: purple;
    text-decoration: underline;
}

header {
    text-align: center;
}

.heading {
    color: #886619;
    text-decoration: underline;
}
html {
    background-image: url("../img/tree-silhouette-transparent-background-23.png");
    background-size: 300px 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: beige;
}
body {
    /*opacity: .7;*/
    background-color: rgba(245,245,220,0.7);
    font-family: 'Oswald', sans-serif;
}

a:link {
    color: saddlebrown;
}
a:visited {
    color: darkgreen;
}
a:hover {
    color: #1c433f;
}
a:active {
    background-color: #886619;
}

ul {
    list-style: square;
}

ol {
    list-style: upper-roman;
}

td {
    padding-right: 48px;
    font-size: 85%;
}
tr {
    padding: 15px;
    font-size: 85%;
}
